<link rel= "stylesheet" type="text/css" href="style.css" />
<style>
h1 {
   
}
 .nav {
   color: ;
   background-color: white;
   overflow: hidden;
   position: fixed;
   top: 0;
   right: 0;
   width: 200px;
 }
.nav a{
   color: purple;
   
}
 .nav a:hover {
   background-color: rgb(46, 44, 44);
   color: white;
 }
 .quote {
  font-style: italic;
  color: violet;
  padding: auto;
  margin: 100px;
  border: 100px;
 }
 h1 {
   color: rgb(7, 7, 75);
   border: 100px;
   padding: 50px;
   margin: auto;
   background-color: rgb(149, 98, 207);
 }
 .me {
  color: blueviolet;
  font-size: x-large;
 }